# pixi environments
bib.bib# pixi environments
.pixi/*
!.pixi/config.toml

# archived models
ird_model/models/archive/

# large data files
data/BedMachineGreenland-v5.nc
data/basalmelt.nc
data/basalmelt_2021.nc
data/basalmelt_2022.nc
data/MEaSUREs_120m.nc

# checkpoints
ird_model/models/checkpoints/

# figures
figures/

# large CSV data files
data/gate_D.csv
ird_model/models/inputs/gate_D.csv
ird_model/models/archive/gate_D.csv