models/inputs/*.nc
models/inputs/grids
models/hydrology/outputs
models/sediment/outputs
drafts/
figures/*/*.svg
figures/inkscape/
bib.bib# pixi environments
.pixi/*
!.pixi/config.toml

data/BedMachineGreenland-v5.nc
data/GBaTSv2.nc
data/MEaSUREs_120m.nc