# pixi environments
bib.bib# pixi environments
.pixi/*
!.pixi/config.toml

# large data files
data/BedMachineGreenland-v5.nc
data/basalmelt.nc
data/MEaSUREs_120m.nc

# checkpoints
ird_model/models/checkpoints/